@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=Petit+Formal+Script&family=Quicksand:wght@400;500;700&display=swap');

:root{
	--oswald: 'Oswald', sans-serif;
	--quicksand: 'Quicksand', sans-serif;
	--petit: 'Petit Formal Script', cursive;
	--black: #000;
	--white: #fff;
	--grey: #ccc;
	--gunmetal: #30343F;
	--eerie-black: #1B2021;
	--pink: #E40256;
	--dark-pink: #C6104D;
	--orange: #FA6F2D;
	--dark-orange: #CF434A;
	--dark-brown: #DFA343;
	--brown: #F9EBBC;
}

::before, ::after{
	box-sizing: border-box;
}

:selection{

}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

header{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-family: var(--petit);
	font-weight: bold;
	z-index: 5;
	background: var(--dark-orange);
	color: var(--white);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .4),
					inset .3em .3em 5em var(--orange);
}

header .up{
	width: 100%;
	padding: 0.5em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}

header .up .logo{
	width: 20%;
	transition: .5s;
	filter: drop-shadow(1px 1px 0 var(--white));
}

header .down{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: .5em;
}

header .down h3{
	margin-left: 3em;
}

header .down nav{
	display: flex;
	justify-content: center;
	flex-direction: row;
	list-style: none;
}

header .down nav a{
	padding: 1em 0;
	text-decoration: none;
	color: unset;
	position: relative;
	margin-right: 2.5em;
}

header .down nav a::before{
	content: '';
	position: absolute;
	bottom: 9px;
	left: 0;
	width: 0;
	height: .3em;
	background: var(--white);
	transition: .5s;
}

header .down nav a:hover::before{
	width: 100%;
}

.active__link{
	
}

.active__link:hover{
	
}

body{
	
}

.btn{
	padding: 1em;
	color: var(--white);
	border: none;
	cursor: pointer;
	font-family: var(--petit);
	font-weight: bold;
	font-size: 0.9em;
	text-decoration: none;
}

.btn__1{
	background: var(--dark-orange);
	box-shadow: 0 3px 10px #090909,
					inset 0 0 2em var(--orange);
}

.btn__2{
	color: var(--dark-orange);
	font-weight: bold;
	border: 3px solid var(--dark-orange);
	border-radius: 5px;
}

.title{
	font-family: var(--petit);
}

