@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=Petit+Formal+Script&family=Quicksand:wght@400;500;700&display=swap');

:root{
	--oswald: 'Oswald', sans-serif;
	--quicksand: 'Quicksand', sans-serif;
	--petit: 'Petit Formal Script', cursive;
	--black: #000;
	--white: #fff;
	--grey: #ccc;
	--gunmetal: #30343F;
	--eerie-black: #1B2021;
	--pink: #E40256;
	--dark-pink: #C6104D;
	--orange: #D8590B;
	--dark-orange: #AE4200;
	--dark-brown: #DFA343;
	--brown: #F9EBBC;
}

::before, ::after{
	box-sizing: border-box;
}

:selection{

}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

html{
	scroll-behavior: smooth;
}

header{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-family: var(--petit);
	font-weight: bold;
	z-index: 5;
	background: var(--white);
	color: var(--eerie-black);
}

header .up{
	width: 100%;
	padding: 0.5em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background: var(--white);
	color: var(--eerie-black);
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}

header .up .logo{
	width: 20%;
	transition: .5s;
	filter: drop-shadow(1px 1px 0 var(--white));
}

header .down{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: .5em;
}

header .down h3{
	margin-left: 3em;
}

header .down nav{
	display: flex;
	justify-content: center;
	flex-direction: row;
	list-style: none;
}

header .down nav a{
	padding: 1em 0;
	text-decoration: none;
	color: unset;
	position: relative;
	margin-right: 2.5em;
}

header .down nav a::before{
	content: '';
	position: absolute;
	bottom: 9px;
	left: 0;
	width: 0;
	height: .3em;
	background: var(--pink);
	transition: .5s;
}

header .down nav a:hover::before{
	width: 100%;
}

#navbar__divisor{
	display: block;
  	margin-top: 0.5em;
  	margin-bottom: 0.5em;
  	margin-left: auto;
  	margin-right: auto;
  	width: 95%;
}

body{
	
}

.footer{
	background: var(--white);
	font-size: 0.8em;
	font-family: var(--quicksand);
	padding: 2em 2em 0.8em 2em;
}

.footer__up{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}

.footer__info{
	display: inline-block;
	width: 30%;
}

.footer__info h2{
	color: var(--pink);
}

.footer__info span{
	display: block;
	font-weight: bold;
	margin: 0.7em 0;
}

.footer__newsletter{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.5em;
	width: 30%;
}

.footer__newsletter h2{
	color: var(--pink);
	font-weight: bold;
	font-size: 2em;
}


.footer__newsletter input[type=email]{
	border-radius: 2em;
	font-family: var(--quicksand);
	border: 2px solid var(--eerie-black);
	display: inline;
	height: 2em;
	width: 20.5em;
	padding: 0 1em;
	font-weight: bold;
	color: var(--dark-pink);
}

.footer__newsletter a{
	font-size: 0.8em;
}

.footer__redes{
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.footer__redes a{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	width: 2em;
	height: 2em;
	padding: 0.6em;
	border: 4px solid var(--pink);
	border-radius: 50%;
	transition: .3s;
	cursor: pointer;
}

.footer__redes-whatsapp:hover{
	background: #25D366;
	color: var(--white);
}

.footer__redes-instagram:hover{
	background: var(--dark-pink);
	color: var(--white);
}

.footer__redes-facebook:hover{
	background: #106DD3;
	color: var(--white);
}

.footer__down{
	display: flex;
	justify-content: space-between;
	padding: 1em 7.5em 0 1.7em;
	align-items: center;
}

.footer__derechos{
	color: var(--gunmetal);
}

.whatsapp{
	position: fixed;
	float: left;
	bottom: 1em;
	right: 1em;
	text-decoration: none;
	color: var(--white);
	padding: 0.4em;
	font-size: 2.5em;
	background: red;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #25D366;
	transition: .5s;
}

.whatsapp:hover{
	transform: scale(1.05);
	background: #128C7E;
}

.btn{
	padding: 1em;
	color: var(--white);
	border: none;
	cursor: pointer;
	font-family: var(--petit);
	font-weight: bold;
	font-size: 0.9em;
	text-decoration: none;
	border-radius: 2em;
}

.btn__1{
	background: var(--dark-pink);
	box-shadow: 0 3px 10px #090909,
					inset 0 0 2em var(--pink);
}

.btn__2{
	color: var(--dark-pink);
	font-weight: bold;
	border: 3px solid var(--pink);
}

.title{
	font-family: var(--petit);
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.flex-c{
	flex-direction: column;
}

.flex-r{
	flex-direction: row;
}

.my-1{
	margin-top: 1em;
	margin-bottom: 1em;
}

.my-2{
	margin-top: 2em;
	margin-bottom: 2em;
}

.mx-1{
	margin-right: 1em;
	margin-left: 1em;
}

.mx-2{
	margin-right: 2em;
	margin-left: 2em;
}



